body{
    min-height: 100vh;
    max-width: 100vw;
    background-color: aquamarine;
}
ul{
    list-style: none;
    padding: 1rem;
    border: solid 2px green;
    transition: all ease-in-out 500ms;
    border:none
   }

a{
 text-decoration: none;
}
.part-one{
    display: grid;
}
header{
    position: relative;
    background-image: url(./assets/images/mobile-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 46vh;
}
.close-nav-btn, .open-nav-btn{
  
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.open-nav-btn{
    background-image: url(./assets/images/icon-hamburger.svg);
   background-color: inherit;
   }
.close-nav-btn{
    background-image: url(./assets/images/icon-close.svg);
    }
   
[data-spread = false]{
    display: none;
    
}
[data-spread = true]{
    display: grid;
    grid-template-columns: 4rem 3fr;
    justify-self: center;
   
} 
.title{
 justify-self: center;
 margin-right: 3rem;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
.slider-btns{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    bottom: 0;
    left:63%;
    padding: 0.5rem ;
  
}  
.next-btn, .prev-btn{
    background-color: black;
    border: 0;
    padding: 0.3rem 1rem 0.3rem 1rem;
    
} 
@media (min-width:500px) {
    body{
        background-color: rgb(252, 252, 252);
    }
    .part-one{
        grid-template-columns: 1fr 1fr;
    }
    .slider-btns{
        left:100%
    }
}


